.owned--dot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centruje kropkę */
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    z-index: 1; /* Upewnij się, że kropka jest nad innymi elementami */
}